.btn {
    padding: 10px 30px;
    background-color: $blue;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    &:hover{
        border: 1px solid $blue;
        color: $blue;
        background-color: white;
    }
}