// global styles 
html {
    font-size: 16px !important;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 20px;
    @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 1.7;
    }  
}
section{
    max-width: 1580px;
    margin-right: auto;
    margin-left: auto;
}