.header__section{
    max-width: 1580px;
    padding: 100px 0 100px;
    background: url('/dist/images/header-bg.jpg');
    background-size: cover;
    background-position: bottom;  
    @include media-breakpoint-down(md) {
        background: url('/dist/images/mobile-bg.jpg');
        background-size: cover;
        background-position: center;
    }  
    .container{
        position: relative;
    }
}
.header__section__text{
    @include media-breakpoint-down(md) {
        padding-top: 100px;
    }
    &-blue{
        background-color: $blue;
        font-size: 50px;
        color: white;
        font-family: 'Kaushan Script', cursive;
        padding-right: 30px;
    }
    &-red{        
        font-size: 40px;        
        color: white;
        background-color: $red;
    }
}
.header__logo{
    padding-bottom: $gutter;
    width: 200px;
    height: auto;
    @include media-breakpoint-down(md) {
        left: 15px;
        right: auto;
        top: -40px;
    }
}