.section__one{

    .row{
        padding: $gutter 0 $gutter*3;
        @include media-breakpoint-down(md) {
            padding: $gutter 0;
        }
    } 
    .img__block__img{
        position: absolute;
        top: -70px;
        right: 0;
        @include media-breakpoint-down(md) {
            position:relative;
            top: 0;
            padding-top: $gutter/2;
        }
    }
}

.text__block{
    &__title{
        font-size: 50px;
        color: #005694;
        line-height: 1;
        font-family: 'Kaushan Script', cursive;
        padding-bottom: $gutter/2;
        @include media-breakpoint-down(md) {
            font-size: 42px;
        }
    }
}
.img__block{
    .img__block__img{
        width: 100%;
        height: auto;
    }
}

.text__block__arrow{
    list-style: none;
    padding-left: 80px;
    width: 80%;
    @include media-breakpoint-down(md) {
        padding-left: 50px;
        width: 100%;
    }
    li{
        position: relative;
        line-height: 1.2;
        margin: $gutter/2 0;
        @include media-breakpoint-down(md) {
            line-height: 1.5;
        }        
        &::before {
            content: '';
            background: url('/dist/images/checkmarks.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            position: absolute;
            left: -40px;
            top: 0;
        }
    }
} 

.section__two{
    position: relative;    
    &::before{
        position: absolute;
        background: url('/dist/images/header-bg.jpg');
        background-size: cover;
        background-position: top;
        content: '';
        opacity: 0.3;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        @include media-breakpoint-down(md) {
            opacity: 0.1;
        }
    }
    padding: $gutter*2 0;
    text-align: center;
    @include media-breakpoint-down(md) {
        text-align: left;
    }    
    .text__block__content{
        padding: 0 $gutter*2;
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
}

.section__three{
    padding: $gutter*2 0;
    @include media-breakpoint-down(md) {
        padding: $gutter 0;
    }
}

.section__four{
    background: url('/dist/images/section-last-all.jpg');
    background-position: center;
    background-size: cover;
    padding: $gutter*3 0;
    .midle__text{
        font-size: 50px;
        color: #005694;
        line-height: 1;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        padding: $gutter $gutter*6;
        @include media-breakpoint-down(md) {
            padding: $gutter 0;
        }
    }
    .btn__warp{
        padding-top: $gutter/2;
        display: block;
    }
}